<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'dent/css/style.css' %}">
  {% block extra_css %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div class="container">
    <header>
      {% block header_title %}<img src="{% static 'dent/img/dent_logo_w.png' %}" alt="{{ SITE_NAME }}">{% endblock %}
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

  </div>
  
  <footer>
    <p>&copy; 2025 {{ SITE_NAME }}</p>
  </footer>

  <script src="{% static 'dent/js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>