{% extends 'dent/base.html' %}
{% load static %}

{% block title %}{{ SITE_NAME }} - トップページ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dent/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="box">
  <section class="welcome">
    <p>このサイトは歯科治療における説明を補助するサイトです。</p>
    <p>続けるには合言葉を入力してください。</p>
  </section>

  <section class="auth-form">
    <form action="{% url 'dent:authenticate' %}" method="post">
      {% csrf_token %}
      <div class="form-group display-flex flex-a-left">
        <label for="passphrase" class="nowrap">合言葉:</label>
        <input type="text" id="passphrase" name="passphrase" required>
      </div>
      <div class="messages">
        {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
      <button type="submit" class="submitButton">入室</button>
    </form>
  </section>
</div>
{% endblock %}